@import url('https://fonts.googleapis.com/css?family=Pacifico');
page-home {

   .head{

    font-size: 7vh!important;
    font-weight: lighter!important;
    font-family: 'Pacifico', cursive;
    color: green;
    
   }
   .bg{
    background: linear-gradient(to right top, #3bd80d, #7fdc4b, #a9e076, #c8e4a1, #e0e8cd);

   }
    .thumb-img {

       padding: 0.125px;
       width:150px;
       height:150px;
   };
   .image-container{
       background-size: cover;
       min-height: 200px;
   }
  
   @media (min-width: 0px){
        .images {
          column-count: 2;
        }
   }
   @media (min-width: 620px){
        .images {
          column-count: 3;
        }
   }
   @media (min-width: 820px){
        .images {
          column-count: 4;
        }
   }
   .one-image {
       margin: 2px;
   }
  
}